.col1{
    width:8.3333333333333333333333333333333%;
    display:block;
    float:left;
}
.col2{
    width:16.666666666666666666666666666667%;
    display:block;
    float:left;
}
.col3{
    width:25%;
    display:block;
    float:left;
}
.col4{
    width:33.333333333333333333333333333333%;
    display:block;
    float:left;
}
.col5{
    width:41.666666666666666666666666666667%;
    display:block;
    float:left;
}
.col6{
    width:50%;
    display:block;
    float:left;
}
.col7{
    width:58.333333333333333333333333333333%;
    display:block;
    float:left;
}
.col8{
    width:66.666666666666666666666666666667%;
    display:block;
    float:left;
}
.col9{
    width:75%;
    display:block;
    float:left;
}
.col10{
    width:83.333333333333333333333333333333%;
    display:block;
    float:left;
}
.col11{
    width:91.666666666666666666666666666667%;
    display:block;
    float:left;
}
.col12{
    width:100%;
    display:block;
    float:left;
}