

.menu_button{
    position: fixed;
    width:50px;
    height:50px;
    padding:14px;
    background:rgba(0,0,0,0.00);
    
    right:3px;
    top:3px;

    transition: background-color 0.3s ease-out;
    border-radius: 4px;
}
.menu_button:hover{
    background:rgba(0,0,0,0.2);
}

.menu_button div{
    width:4px;
    border-radius: 100%;

    height: 4px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left:auto;
    margin-right:auto;
    background:#444;
}

.menu{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.32);
    background:white;
    position: fixed;
    width:260px;
    right:8px;
    padding:8px;
    border-radius: 4px;
    overflow:hidden;
    visibility: visible;

}

#main_menu{
    transform-origin: 100% 0%;
    transform: scale(0, 0);
    top:60px;
}

#add_menu{
    transform-origin: 100% 100%;
    transform: scale(0, 0);
    right:10%;
    bottom:calc(10% + 74px);
}

.menu .menu_divider{
    width:90%;
    margin:10px auto;
    height:1px;
    background:#ccc;
}

.menu .menu_item{
    padding:10px;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.3s ease-out;
    user-select: none;
    border-radius: 4px;
}

.menu .menu_item:hover{
    background:#ddd;
}