* {
    font-family: 'Old Standard TT', serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

p{
    margin:8px 0px;
}
.question{
    overflow: hidden;
    margin-bottom: 16px;
}
.intro{
    margin-top: 8px;
    margin-bottom: 24px;
}
.info{
    margin-top: 32px;
    margin-bottom: 8px;
}

@page {
    margin: 2cm;
}
@media print {
    .page_break {page-break-after: always;}
}

.center{
    text-align: center;
}
code{
    font-family: monospace;
}

.fullwidth{
    width:100%;
}
table{
    border-collapse: collapse;
}

th{
    font-weight: bold;
}
tr:last-child{
    font-weight: bold;
}

th + th, td + td{
    border-left:1px solid #ddd;
}
tr + tr{
    border-top:1px solid #ddd;
}

td, th{
    padding:5px 10px;
}

.minor{
    color:#ccc;
}