<div class="modal_title">Edit Question</div>
<div class="modal_content">
    <table class="table">
        <tr>
            <td>Question</td>
            <td><input class="col8" id="question" type="text"></td>
        </tr>
        
        <tr>
            <td>Answer</td>
            <td><input class="col8" id="answer" type="text"></td>
        </tr>
        
        <tr>
            <td>Points</td>
            <td><input class="col8" id="points" type="number"></td>
        </tr>
    </table>
</div>
<div class="modal_footer">
    <div id="button_cancel" class="button secondary">Cancel</div>
    <div id="button_save" class="button primary">Save</div>
</div>