<div id="subject" class="subject">
    <div id="subject_head" class="subject_head">
        <div id="subject_name" class="col7">Name of subject</div>
        <div id="subject_total" class="col2">23pnt</div>
        <div id="subject_add" class="col1 subject_add"><i class="material-icons">add</i></div>
        <div id="subject_edit" class="col1 subject_edit"><i class="material-icons">create</i></div>
        <div id="subject_remove" class="col1 subject_remove"><i class="material-icons">clear</i></div>
    </div>
    <div id="subject_content" class="subject_content">
    </div>
</div>